


/*footer*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.cerrar{
     background-color: #ffbe49;
        color: inherit;
        border: none;
        padding: 0;
        margin-bottom: 50px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
}

.wwFormTable{
    background-color: #ffbe49;
}
body{
    font-family: Arial;
    width:80%;
    margin:0 auto;
}

.input-header{
    background-color: #ffbe49;
    color: black;
    width: 100%;
    border: none;
    font-size: 20px;
}



#footer .actions{
    padding-left:0;
}

#footer h2 {
    color: black;
}

#footer .icon {
    color: black;
}

#footer a {
    color: black;
    text-decoration: none;
}

#footer ul {
    margin:0;
}

#footer ul li {
    list-style: none;
}

#footer .copyright {
    display: inline-block;
    color: black;
    font-size: 0.75em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2em 10em;
}
.fa-lg {
    font-size: 1em;
    color:black;


}
.fa {
    font-family: FontAwesome;
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    top:12px; 
    font-size:20px;
}


@media screen and (max-width: 980px) {

    #footer {
        padding: 3em 0 1em 0;
        width: 99%;
    }

    #footer ul li {
        display: block;
        padding: .25em 0;

    }

}

@media screen and (max-width: 736px) {

    #footer .copyright {
        padding: 2em 5em;
    }

}

@media screen and (max-width: 480px) {

    #footer {
        padding: 2em 0 0.1em 0;
    }

    #footer ul li {
        font-size: .9em;
    }

    #footer ul li .icon:before {
        margin-left: -1em;
    }

    #footer .copyright {
        padding: 2em 0;
    }

}


.inner {
    margin: 0 auto;
    max-width: 50%;
}


@media screen and (max-width: 1280px) {

    .inner {
        max-width: 90%;
    }

}

@media screen and (max-width: 980px) {

    .inner {
        max-width: 70%;
    }

}

@media screen and (max-width: 736px) {

    .inner {
        max-width: 60%;
    }

}
ul {
    /*    list-style: disc;*/
    margin: 0 0 0 0;
    padding-left: 1em;
}

ul li {
    /*    padding-left: 0.5em;*/
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #dee1e3;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}




/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}


/*header*/


.brandingImgWrap {
    height: 100px;
    padding-left: 1px;
    padding-top: 1px;
    float:left;
    padding-left: 2px;

}
.brandingImgWrap {
    overflow: hidden;
}




@media (min-width:768px) {
    .inscripciones {
        padding: 40px;
    }
}

.inscripciones {
    padding: 20px;
}

.inscripciones {
    padding: 40px;
}

.inscripciones {
    box-shadow: 0 2px 10px rgba(0,0,0,.075);
    background-color: #fff;
}

/*cada una de las competiciones*/
.competicion {
    margin-bottom: 1.2rem;
}

.competicion {
    color: black;
    font-weight: normal;
}

.competicion{
    font-size: 2rem;
}

.competicion{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

competicion{
    margin-top: 0;
    margin-bottom: .5rem;
}


#footer {
    margin-top: 200px;
    background: #ffbe49;
    text-align: center;
    color: black;
    margin:0 auto;
    clear: both;
    position: relative;
    bottom: 0;
    padding-top: 2%;
    padding-bottom: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    background-color: #0e3f70;
    overflow: hidden;
    width: 80%;
    top: 0;
    height: 50px;
}

.img-header{
    pointer-events: none;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Centered section inside the top navigation */
.topnav-centered {
    background-color: white;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.cuerpo{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 1400px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }
    .topnav-centered {
        width: 20%;
    }
    .cuerpo{
        margin-top: 330px; 
    }
    body{
        width: 100%;
    }
    .topnav{
        width: 100%;
    }
}






