

@media (min-width:768px) {
    .competiciones {
        padding: 40px;
    }
}

.competiciones {
    box-shadow: 0 2px 10px rgba(0,0,0,.075);
    background-color: #fff;
}

.formulario{
    background-color: #ddd7c8;
    text-align:left;
    opacity: 100%;

}

/*error*/
.error{
    color: #a91d20;
}

h2{
    background-color:#ddd7c8;
/*    margin-right: 800px;
    text-align: center;*/
}